{erl_opts, [
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard,
    warn_unused_import,
    warnings_as_errors,
    fail_on_warning,
    debug_info]}.
{deps, [
    {craterl, "0.2.3"},
    {cowboy,  "1.0.4"},
    {jsx,     "2.8.0"},
    {uuid,    "1.7.3", {pkg, uuid_erl}}
]}.
{profiles, [{prod, [
                        {relx, [{dev_mode, false},
                                {include_erts, true}]}
                   ]},
            {test, [
                        {deps, [{meck, "0.8.3"}]}
                   ]}]}.
{relx, [{release, {"guestbook", "0.0.1"}, [
                  guestbook,
                  uuid]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
{require_otp_vsn, "18"}.
