name: Java / Spark

on:
  pull_request:
    branches: ~
    paths:
    - '.github/workflows/test-java-spark.yml'
    - 'java-spark/**'
    - 'requirements.txt'
  push:
    branches: [ main ]
    paths:
    - '.github/workflows/test-java-spark.yml'
    - 'java-spark/**'
    - 'requirements.txt'

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job each night after CrateDB nightly has been published.
  schedule:
    - cron: '0 3 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    name: "
     Java: ${{ matrix.java-version }}
     CrateDB: ${{ matrix.cratedb-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest' ]
        java-version: [ '11', '17', '21' ]
        cratedb-version: [ 'nightly' ]

    steps:

      - name: Acquire sources
        uses: actions/checkout@v6

      - name: Install utilities
        run: |
          pip install --upgrade 'pip>=23.3' 'setuptools>=64'
          pip install --requirement requirements.txt

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java-version }}
          cache: "maven"

      - name: Validate java-spark
        run: |
          ngr test --accept-no-venv java-spark
